/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
	--accent:#E4E3E3;
	--accentHover:#84a9ac;
	--dark: #204051;
	--dark80: rgba(32,64,81,.8);
	--dark60: rgba(32,64,81,.6);
	--light: #e4e3e3;
	--transition: all 0.3s ease 0s;
}

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding:0;
}

html,body{
	height:100%;
	overflow: hidden;
}
body {
  background:
	-webkit-gradient(
		linear,
		left top, left bottom,
		from(var(--dark60)),
		to(var(--dark60))
		), 
	url(./images/background.jpg);
  background:
	-o-linear-gradient(
		var(--dark60),
		var(--dark60)
		), 
	url(./images/background.jpg);
  background:
	linear-gradient(
		var(--dark60),
		var(--dark60)
		), 
	url(./images/background.jpg);
	background-repeat: norepeat;
	background-size: cover;
}

button{
	font-family:"Lato",sans-serif;
	color: var(--dark);
	text-decoration: none;
	cursor: pointer;

}

main{
	height: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: minmax(60px, 1fr) (minmax(50px, 190px))[6] minmax(60px, 1fr);
	grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header{
	-ms-grid-column: 2;
	-ms-grid-column-span: 6;
	grid-column: 2 / span 6;
}
nav {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height:60px;
}
.logo{
	width: 194px;
height: 34px;
}
.button_med{
	border:none;
	background-color: var(--accent);
	font-size:1.78rem;
	font-weight: bold;
	-webkit-transition:var(--transition);
	-o-transition:var(--transition);
	transition:var(--transition);
	position: absolute;
	width: 150px;
	height: 60px;
	left: 275px;
	top: 220px;
}
.button_med:hover{
	background-color: var(--accentHover);
}


